#!/bin/sh -e

PATH="/opt/glassfish3/bin:$PATH"
export PATH

if [ ! -f /etc/_hbbackend_domain_created ]
then

asadmin create-domain --nopassword=true --portbase 9900 hbbackend
chown -R <%= targetuser %> /opt/glassfish3/glassfish/domains/hbbackend

touch /etc/_hbbackend_domain_created

fi

